.home-expertise {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px 80px;

  &__header {
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__skills-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
  }

  &__skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    column-gap: 16px;
  }

  @include toTablet {
    grid-template-columns: 1fr;

    &__header {
      grid-column: 1;
    }
  }

  @include onlyTablet {
    &__skills {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 40px;
    }
  }
}
