@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');

$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Bebas Neue', sans-serif;

// Font - Headers
$font-header-size-h1: 3.5rem;
$font-header-lineheight-h1: 4.2rem;
$font-header-size-h2: 2.9rem;
$font-header-lineheight-h2: 3.5rem;
$font-header-size-h3: 2.4rem;
$font-header-lineheight-h3: 2.9rem;
$font-header-size-h4: 2rem;
$font-header-lineheight-h4: 2.4rem;
$font-header-size-h5: 1.7rem;
$font-header-lineheight-h5: 2rem;
$font-header-size-h6: 1.4rem;
$font-header-lineheight-h6: 1.7rem;

// Font - Text
$font-text-size-xxlarge: 2.4rem;
$font-text-lineheight-xxlarge: 2.4rem;
$font-text-size-xlarge: 2rem;
$font-text-lineheight-xlarge: 2.9rem;
$font-text-size-large: 1.7rem;
$font-text-lineheight-large: 2.4rem;
$font-text-size-medium: 1.4rem;
$font-text-lineheight-medium: 2rem;
$font-text-size-small: 1.2rem;
$font-text-lineheight-small: 1.7rem;
$font-text-size-xsmall: 1rem;
$font-text-lineheight-xsmall: 1.4rem;

// Font - Labels
$font-label-size-large: 1.7rem;
$font-label-lineheight-large: 2rem;
$font-label-size-medium: 1.4rem;
$font-label-lineheight-medium: 1.7rem;
$font-label-size-small: 1.2rem;
$font-label-lineheight-small: 1.4rem;
