.company {
  display: grid;
  grid-template-columns: 8fr 4fr;
  padding-top: 32px;
  column-gap: 64px;
  row-gap: 32px;

  &__header {
    grid-column: 1 / span 2;
  }

  &__detail {
    grid-row: 2 / span 2;

    ul {
      li:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__spinner-container {
    width: 100%;
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__spinner {
    height: 150px;
    margin: auto;

    @include useTheme() {
      fill: themed('tertiary-bg');
    }
  }

  &__logo {
    max-width: 100%;
  }

  &__summary {
    @include applyThemedBgWithCorrectTextColor('secondary-bg');
    padding: 16px;
    display: flex;
    flex-direction: column;
  }

  &__roles {
    display: flex;
    flex-direction: column;
  }

  @include toSmall {
    column-gap: 16px;

    &__header {
      grid-row: 1;
      grid-column: 1;
      font-size: $font-header-size-h2;
      line-height: $font-header-lineheight-h2;
    }

    &__logo {
      grid-row: 1;
      align-self: center;
    }
    &__summary {
      grid-row: 2;
      grid-column: 1 / span 2;
    }

    &__detail {
      grid-row: 3;
      grid-column: 1 / span 2;
    }
  }
}
