.home-experience {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__companies {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 32px;
  }

  &__company {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;

    svg {
      height: 40px;
      filter: grayscale(100%);
      transition: filter $common-transition-timing;
    }

    &:hover {
      svg {
        filter: none;
      }
    }
  }

  @include toTablet {
    &__companies {
      flex-direction: column;
    }

    &__company {
      width: 100%;
    }
  }

  @include onlySmall {
    &__company {
      width: 230px;
      height: 230px;

      svg {
        height: 30px;
      }
    }
  }

  @include onlyLarge {
    &__company {
      width: 300px;
      height: 300px;
    }
  }
}
