.home-experience {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__company,
  &__company-highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__company {
    gap: 16px;

    img {
      height: 40px;
      filter: grayscale(100%);
      transition: filter $common-transition-timing;
    }
  }

  &__company-highlight {
    &:hover {
      img {
        filter: none;
      }
    }
  }

  @include jb-highlight-grid('&__companies');

  @include onlySmall {
    &__company-highlight {
      svg {
        height: 30px;
      }
    }
  }
}
