.jb-layout {
  @include applyThemedBgWithCorrectTextColor('primary-bg');
  padding: 0 80px;

  &__content {
    min-height: calc(100vh - #{$navbar-height});
    margin: auto;
    max-width: $max-content-width;
    width: 100%;
    z-index: 1;
    padding-top: $navbar-height;
  }

  &__theme-toggle {
    position: fixed;
    bottom: 32px;
    right: 80px;
  }

  @include toTablet {
    padding: 0 40px;

    &__content {
      min-height: calc(100vh - $navbar-height-tablet);
      padding-top: $navbar-height-tablet;
    }
  }
}
